.app {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    padding: 10px;
    overflow: hidden;
}

.app__filters {
    display: flex;
    margin-bottom: 20px;
}

.app__filters-bar {
    flex-grow: 1;
    margin-right: 20px;
    align-items: center;
}

.app__filters-btn {
    display: flex;
    align-items: center;
}
